@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

.photogrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
  padding: 0 20px;
}

.photo-container {
  flex: 1 1 calc((100% - 27px) / 4); /* Default: 4 per row */
  box-sizing: border-box;
  max-width: calc((100% - 27px) / 4);
}

.photo-container img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 2 / 3;
}

.photo-container h3 {
  font-family: "Karma", sans-serif;
  margin: 0.5em 0 0.2em;
}

.photo-container p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .photo-container {
    flex: 1 1 calc((100% - 18px) / 3);
    max-width: calc((100% - 18px) / 3);
  }
}

@media (max-width: 768px) {
  .photo-container {
    flex: 1 1 calc((100% - 9px) / 1);
    max-width: calc((100% - 9px) / 1);
  }
}

@media (max-width: 480px) {
  .photo-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
